@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model WebApplication1.Models.Ogrenci

@{
    Layout = null; //default layout u sablon yapiyi cikardik
}

<h1 style="color: green;font-family:Verdana"> <i> Ogrenci Kayit View'i'</i></h1>
<hr />
<br />
<h2 style="font-family:Verdana"> Adı: @Model.OgrAd</h2>
<h2 style="font-family:Verdana"> Soyadı: @Model.OgrSoyad</h2>
<h2 style="font-family:Verdana"> Numara: @Model.OgrNo</h2>
