@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<WebApplication1.Models.Ogrenci>   

    <table>
        <tr>
            <td>Öğrenci Adı: </td>
            <td>Öğrenci Soyadı: </td>
            <td>Öğrenci No: </td>
        </tr>

        @foreach (var ogr in Model)
        {
            <tr>
                <td>@ogr.OgrAd</td>
                <td>@ogr.OgrSoyad</td>
                <td>@ogr.OgrNo</td>
            </tr>
        }
    </table>